# Nuxt dev/build outputs
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist

# Node dependencies
frontend/node_modules
frontend/package-lock.json

# Logs
frontend/logs
frontend/*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
!.env.example

backend/.venv
**/__pycache__/**